{% extends 'core/base.html' %} {% block head_title %}{{ title }}{% endblock %} {% block content %}
<div>
    <h1>Transfer Money</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{% url 'transactions:transfer_money' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Transfer Money</button>
    </form>

</div>
{% endblock %}